Flask==0.12.1
Jinja2==2.9.6
MarkupSafe==1.0
gunicorn==19.7.1
Werkzeug==0.12.2
httplib2==0.10.3
itsdangerous==0.24
mock==2.0.0
nose2==0.6.0
phonenumbers==8.5.2
sendgrid==4.2.0
simplejson==3.11.1
six==1.10.0
smtpapi==0.3.1
twilio==6.4.2
unittest2==1.1.0
